<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>About Me - Evan Ebert</title>
    {% load static %}
    
    <img class="evan_image1" src="{% static 'shop/images/evan-cover.jpg' %}" alt="Evan Ebert"/>
    

    <link rel="stylesheet" href="{% static 'shop/styles/evan_styles.css' %}">

    

</head>
<body>
    <header>
        <h1>Evan Ebert</h1>
        <p>Computer Science Student</p>
    </header>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="#about">About Me </a>
        <a href="#interests">Interests</a>
        <a href="#skills">Skills</a>
        <a href="#contact">Contact</a>

    </nav>
    <div class="container">
        <section id="about" class="about">
            <h2>About Me</h2>
            <p>
                Hey there, I'm Evan Ebert. I'm a Computer Science student studying at St. Edward's University. 
                Originally I was a music major studying music composition at Texas State university, but over Covid I decided to change my path to computer science.
                I orignally specialized in web development, but in recent times I have switched over to Project Management and Systems Archetecture.
                Currently, I am interning with Solt Financial and helping design systems for our customers.
            </p>

        </section>
        <section id="interests" class="interests">
            <h2>Interests</h2>
            <h3>Music</h3>

            <a href="https://docs.gato.txst.edu/255198/w/2000/EBswZhJJPGdc/PERF%20HARRISON.jpg" target="_blank">
                <img class="evan_image2" src="https://docs.gato.txst.edu/255198/w/2000/EBswZhJJPGdc/PERF%20HARRISON.jpg"  alt="Performance Hall">
            </a>
            

            <p>
                As mentioned above, I used to be a music composition major. I have loved music for my whole life even now, but it's no longer a career for me.
                I still enjoying writing music, especially video game and orchestral music and hope to one day score a game for someone. I play piano and trumpet
                and... had to take vocal lessions for college, so I am not so bad at singing either.
            </p>


            <h3>Fighting Games</h3>
            
            <a href="https://upload.wikimedia.org/wikipedia/en/9/94/Street_Fighter_6_box_art.jpg" target="_blank">
                <img class="evan_image3" src="https://upload.wikimedia.org/wikipedia/en/9/94/Street_Fighter_6_box_art.jpg"  alt="Street Fighter 6">
            </a>
            
            <p>
                Ever since 2017 I have been obsessed with fighting games, everything from Street Fighter, Tekken, Guilty Gear, BlazBlue, you name it. Additionally, even 
                though some people would not strictly call it a fighting game, I was also a top player in Super Smash Bros Melee for a time. I really enjoy 
                the mental layers to fighting games, almost as if they are the closest thing to a digital martial art that we have.
            </p>

        </section>
        <section id="skills" class="skills">
            <h2>Skills</h2>
            <h3>Technical Skills</h3>
            <ul>
                <li>JavaScript</li>
                <li>MySQL</li>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Java</li>
                <li>AWS</li>
                <li>Microsoft Office</li>
            </ul>
            <h3>Soft Skills</h3>
            <ul>
                <li>Effective Communicator</li>
                <li>Quick Learner</li>
                <li>Client Satisfaction</li>
                <li>Attention to Detail</li>
                <li>Problem Solver</li>
                <li>Team Player</li>

            </ul>
        </section>
        
        <section id="contact" class="contact">

            <img class="evan_image4" src="{% static 'shop/images/mykittykat.jpg' %}" alt="Evan Ebert"/>

            <h2>Contact</h2>
            <p>Feel free to contact me:</p>
            <p>Email: <a href="evan.ebert17@gmail.com">evan.ebert17@gmail.com</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/evan-ebert-793b49213/" target="_blank">linkedin.com/in/Evan-Ebert</a></p>
            <p>GitHub: <a href="https://github.com/evan-ebert17" target="_blank">evan.ebert17</a></p>
        </section>
    </div>
    <footer>
        <p>&copy; 2025 Evan Ebert. All rights reserved.</p>
    </footer>
</body>
</html>