<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>About Me - Ethan Reynaga</title>
    {% load static %}
    
    <img class="ethan_image1" src="{% static 'shop/images/ethan-cover.jpg' %}" alt="Ethan Reynaga"/>
    
    <link rel="stylesheet" href="{% static 'shop/styles/ethan_styles.css' %}">

    

</head>
<body>
    <header>
        <h1>Ethan Andre Reynaga</h1>
        <p>Computer Science Student</p>
    </header>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="#about">About Me </a>
        <a href="#interests">Interests</a>
        <a href="#skills">Skills</a>
        <a href="#contact">Contact</a>

    </nav>
    <div class="container">
        <section id="about" class="about">
            <h2>About Me</h2>
            <p>
                Hey there, I'm Ethan Reynaga. I'm a Computer Science student studying at St. Edward's University. 
                Over the past decade or so, I've been actively involved in the field of Computer Science. In the past few years, the
                subject of Artificial Intelligence has piqued my interest, enough so that my concentration is now focused on it.
                In this class, I hope to better understand the fundamentals of Software Engineering, learn how to work in a team,
                and enhance my time management and planning skills. Working in a team environment is something I'm looking forward to,
                and I'm excited to learn from my peers and contribute to our team's success.
            </p>

        </section>
        <section id="interests" class="interests">
            <h2>Interests</h2>
            <h3>Mathematics</h3>

            <a href="https://gnuplotting.org/figs/klein_bottle.png" target="_blank">
                <img class="ethan_image2" src="https://gnuplotting.org/figs/klein_bottle.png"  alt="Klein Bottle">
            </a>
            

            <p>
                Contrary to most people, understandably, I actually enjoy math and its intricacies. Numbers just seem to make sense
                to me, and I've always seem to be drawn to the rigor and precision of mathematical concepts. Since middle school,
                I have been taking advanced math courses. With my final math class of my college career being Linear Algebra, I'm 
                excited to apply all I've learned to Software Engineering, and soon to real-world problems as well. If it weren't
                for the fact that the only feasible job a math degree can get you is teaching, maybe I would have majored in Mathematics.
            </p>


            <h3>Video Games</h3>
            
            <a href="https://assets.nintendo.com/image/upload/ar_16:9,b_auto:border,c_lpad/b_white/f_auto/q_auto/dpr_1.5/c_scale,w_1000/ncom/software/switch/70010000012332/ac4d1fc9824876ce756406f0525d50c57ded4b2a666f6dfe40a6ac5c3563fad9" target="_blank">
                <img class="ethan_image3" src="https://assets.nintendo.com/image/upload/ar_16:9,b_auto:border,c_lpad/b_white/f_auto/q_auto/dpr_1.5/c_scale,w_1000/ncom/software/switch/70010000012332/ac4d1fc9824876ce756406f0525d50c57ded4b2a666f6dfe40a6ac5c3563fad9"  alt="Super Smash Bros Ultimate">
            </a>
            
            <p>
                I've been playing video games since I was a kid. I've been taught by my older cousins, and I've taught my brothers and
                younger cousins. Anything from Wii Sports, to Minecraft, to Halo, to Marvel Rivals, but my favorite series has got to be
                Super Smash Bros. Although it's usually an intense competitive game, playing casually with my brothers is always a good way
                to relax and have fun. More recently, I've also been getting roped into playing Marvel Rivals, and I've been starting to get
                the hang of it, slowly but surely.
            </p>

        </section>
        <section id="skills" class="skills">
            <h2>Skills</h2>
            <h3>Technical Skills</h3>
            <ul>
                <li>Java</li>
                <li>MySQL</li>
                <li>Python</li>
                <li>C++</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Java Script</li>
                <li>PHP</li>
                <li>Microsoft Office</li>
                <li>Artificial Intelligence</li>
                <li>Prompt Engineering</li>
                <li>Database Theory</li>
            </ul>
            <h3>Soft Skills</h3>
            <ul>
                <li>Systematically Organized</li>
                <li>Quick Learner</li>
                <li>Customer Service</li>
                <li>Attention to Detail</li>
                <li>Critical Thinking</li>
                <li>Problem Solver</li>
                <li>Team Player</li>

            </ul>
        </section>
        
        <section id="contact" class="contact">

            <img class="ethan_image4" src="{% static 'shop/images/ethan_image4.jpg' %}" alt="Ethan Reynaga"/>

            <h2>Contact</h2>
            <p>Feel free to contact me:</p>
            <p>Email: <a href="ea1.reynaga@gmail.com">ea1.reynaga@gmail.com</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/ethan-reynaga-128a0024b/" target="_blank">linkedin.com/in/ethan-reynaga</a></p>
            <p>GitHub: <a href="https://github.com/Prism001" target="_blank">Prism001</a></p>
        </section>
    </div>
    <footer>
        <p>&copy; 2025 Ethan Reynaga. All rights reserved.</p>
    </footer>
</body>
</html>